h3{
    border: 1px solid red;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 span{
    background: red;
    display: inline-block;
    padding: 5px;
}